<footer>
  <div class="wrapper">

    <div class="footer_logo">
      <img src="/assets/img/logo.svg" alt="">
    </div>

    <div class="footer_links">
      <h4>Kontakt</h4>
      <div class="footer_link">Juwelier Fein GmbH</div>
      <div class="footer_link">Basilikastraße 30</div>
      <div class="footer_link">55411 Bingen</div>
      <div class="footer_link">06721 3087840</div>
      <div class="footer_link">Juwelier.fein@gmx.de</div>
    </div>

    <div class="footer_links">
      <h4>Informationen</h4>
      <div class="footer_link"><a href="/wichtig">Impressum</a></div>
      <div class="footer_link"><a href="/wichtig2">Datenschutz</a></div>
      <div class="footer_link"><a href="https://www.instagram.com/juwelierbingen/" target="_blank">Instagram</a></div>

 

    </div>

    <div class="footer_links">
      <h4>Öffnungszeiten</h4>
      <div class="footer_link">Montag - Freitag</div>
      <div class="footer_link">10:00 Uhr - 18:00 Uhr</div>
      <div class="footer_link">Samstag</div>
       <div class="footer_link">10:00 Uhr - 14:00 Uhr</div>
    </div>

  </div>
</footer>





<script src="/money.js"></script>
</body>
</html>
