<footer>
  <div class="wrapper">

    <div class="footer_logo">
      <img src="/assets/logo.svg" alt="">
    </div>

    <div class="footer_links">
      <h4>Kontakt</h4>
      <div class="footer_link">Juweleir Fein</div>
      <div class="footer_link">Bingener Straße 215</div>
      <div class="footer_link">65232 Bingen</div>
      <div class="footer_link">+49 121 23 233 411</div>
      <div class="footer_link">info@juwelier-fein.com</div>
    </div>

    <div class="footer_links">
      <h4>Informationen</h4>
      <div class="footer_link">Impressum</div>
      <div class="footer_link">Datenschutz</div>
    </div>

    <div class="footer_links">
      <h4>Öffnungszeiten</h4>
      <div class="footer_link">Montag - Freitag</div>
      <div class="footer_link">09:00 Uhr - 19:00 Uhr</div>
    </div>

  </div>
</footer>



<script src="/money.js"></script>
</body>
</html>
