<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.noindex %}<META NAME="ROBOTS" CONTENT="NOINDEX,FOLLOW"/>{% endif %}
    
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>

    
  </head>
  <body>


  <div class="notification">
    <p>WILLKOMMEN BEI IHREM JUWELIER IN BINGEN</p>
  </div>
   

  <nav id="header" role="banner" class="nav-wrapper">

      <div id="header-inner" class="group nav-inner">
    
        <div id="logo" class="nav-logo">
        <a href="/">
        <img src="/assets/img/logo.svg" alt="osthaven logo" width="50px">
       </a>
        </div>
    
        <a href="#nav" id="toggle-nav" class="toggle-nav" aria-label="Toggle Navigation">
          <div class="hamburger" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </a> <!---hamburger icon-->
    
    
        <div id="mobile-nav" class="mobile-nav">
    
          <ul class="mobile-nav-main">

            <li class="first_li">
              <a href="/produkte/uhren" class="toggle-mobile-nav-dropdown" data-sub-nav="explore">
                Uhren</a>
            
                <!--<svg id="carot" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="carot" fill="#606e7c">
                  <path d="m4.585 10.468 7.415 7.532 7.415-7.532c.779-.792.779-2.081 0-2.873s-2.049-.792-2.829 0l-4.586 4.659-4.587-4.659c-.378-.384-.88-.595-1.
                  414-.595s-1.036.211-1.414.595c-.78.792-.78 2.082 0 2.873z"></path></svg>--
                -->

              
              <ul class="mobile-dropdown-nav">
                <li><a href="/produkte/uhren">Uhren 1</a></li>
              </ul>

            </li>

            <li>
              <a href="/produkte/ohrschmuck">Ohrloch stechen</a>
          </li>
    
              <li><a href="/produkte/silberschmuck">Silberschmuck</a></li>

              <li><a href="/produkte/goldschmuck">Goldschmuck</a></li>
    
              <li><a href="/produkte/ringe">Trauringe</a></li>

              <li><a href="/kontakt">Kontakt</a></li>

              <a href="https://www.instagram.com/juwelierbingen/">
              <img id="insta" src="/assets/img/insta.svg" alt="instagram" width="50px">
              </a>

          </ul>
    
        </div>
  
   
      </div>
  </nav>
  