---
---

{% include head.html %}

  <section id="hero_outer">

      <section id="hero">
        <div class="content">
        <p>Jetzt online Termin vereinbaren.</p>
      </div>
      </section>

      <section id="hero_content">

        <span>aus Bingen am Rhein</span>
        <h1>Juwelier Fein</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard 
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

          <button>Kontaktieren</button>
    
      </section> 
    </div>
  </section>


  <section id="text">
    <div class="wrapper">
      <h2>Unser Sortiment</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure et blanditiis asperiores. Voluptates, quos nisi distinctio cum natus repudiandae fugiat? Exercitationem culpa ea amet facere, eum dolorum quae minima quam!</p>
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero provident voluptates necessitatibus quod ipsa libero tempore impedit omnis tempora, molestias id porro optio voluptatibus iste perspiciatis quae ex? Perspiciatis, a?</p>
    </div>
  </section>
  

  <section id="images">
    <div class="row_img">
      <img src="/assets/bg/bg1.jpg" alt="">
      <div class="row_img_content">
        <h3>Schmuck</h3>
      </div>
    </div>


    <div class="row_img">
    <img src="/assets/bg/bg2.jpg" alt="">
    <div class="row_img_content">
      <h3>Uhren</h3>
    </div>
  </div>


    <div class="row_img">
    <img src="/assets/bg/bg3.jpg" alt="">
    <div class="row_img_content">
      <h3>Ringe</h3>
    </div>
  </div>

    <div class="row_img">
    <img src="/assets/bg/bg4.jpg" alt="">
    <div class="row_img_content">
      <h3>Ketten</h3>
    </div>
    </div>


  </section>



  <section id="text">
    <div class="wrapper">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure et blanditiis asperiores. Voluptates, quos nisi distinctio cum natus repudiandae fugiat? Exercitationem culpa ea amet facere, eum dolorum quae minima quam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero provident voluptates necessitatibus quod ipsa libero tempore impedit omnis tempora, molestias id porro optio voluptatibus iste perspiciatis quae ex? Perspiciatis, a?</p>
    </div>
  </section>


  <section id="two_images">
 
      <div class="fist_left_img">
        <img src="/picture.png" alt="" class="slide-in">
      </div>

      <div class="first_right_img">
        <img src="/picture.png" alt="" class="slide-in">
      </div>

  </section>


  <div id="services">
    <div class="wrapper">

      <h2>Unser Service für Bingen</h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad cumque aspernatur qui quasi provident, animi voluptatum maxime odio reprehenderit atque, repellendus sit dignissimos quibusdam corrupti amet quisquam modi iusto totam.</p>
  
      <div class="services">
      <div class="service">
        <img src="/1.svg" alt="img" class="slide-in" height="50px">
        <h3>Immer Erreichbar</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy.</p>
      </div>
   

    <div class="service">
      <img src="/2.svg" alt="" class="slide-in" height="50px">
      <h3>Hochwertige Produkte</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy.</p>
    </div>
 

  <div class="service">
    <img src="/3.svg" alt="" class="slide-in" height="50px">
    <h3>Schnelle Abwicklung</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy.</p>
  </div>
  </div>

</div>

  </div>


  <section id="one_image">
    <div class="wrapper">
      <div class="content">
      <p>Buchen Sie jetzt einen 
        Termin bei uns.</p>
      <button>Kontaktieren</button>
    </div>
   </div>
  </section>


  <section id="uber">
    <div class="wrapper">
      <div class="uber_content">
        <h2>Über Uns</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id inventore labore atque ab error facilis enim eligendi magnam blanditiis iusto ad, odio obcaecati minus, ipsam, dolores fugiat vero nisi eveniet.</p>
    </div>

    <div class="uber_img">
      <img src="/picture.png" alt="" class="slide-in">
    </div>

    </div>
  </section>



{% include footer.html %}